    <div class=idx-boxes>
        <div class=idx-tbox>
            <div class=idx-txt-box>
                <div class=idx-about>
                   ABOUT 
                </div>
                <div class=idx-about-details>
                    This is a site I've built that uses Django, MongoDB and JavaScript.
                    We're still under construction but check back soon!
                    <!--I'm an NYC
                    web developer, musician and occasional foodie.-->
                </div>
            </div>
        </div>
    </div>
