{% load staticfiles %}            
            <div class=fix_header>
    	        <div class=header>
                    <a href="/">
    	                <div class=rainbow_div>
                            <img src='{% static "global/img/rainbow.jpg" %}' height='75px' />
                        </div>
                        <div class=logo_div>
	                        <img src='{% static "global/img/logo.png" %}' height='75px' class=logo />
                        </div>
                    </a>
                    <div class=navbar>
                        <span><a href="/blog">Blog</a></span> / 
                        <span><a href="/programming">Programming</a></span> / 
                        <span><a href="/about">About</a></span>
                    </div>
                </div>
            </div>

