.idx-welcome {
    text-align:center;
    font-size:24px;
    font-weight:bold;
    padding-top:10px;
}

.idx-motd {
    padding-top:20px;
    font-style:normal;
    font-size:18px;
}

.idx-more-blogs {
    padding:5px 140px;
    margin:10px;
    background-color: #B1BFF1;
    border-radius:3px;
    font-style:italic;
    font-size:13px;
    cursor:pointer;
}

.blog-archives ul {
    padding:0;
    margin:0;
}

.idx-page-boxes {
    text-align:center;
}

.idx-signature {
    font-style:italic;
    font-size:18px;
    padding-top:20px;
}

.idx-about {
    font-weight:bold;
    font-size: 15px;
}

.idx-about-details {
    text-align:justify;
    font-size:14px;
}

#blog-archives {
    font-style:italic;
}

.archive-label {
    text-align:center;
}

.archive-year {
    cursor:pointer;
}

.archive-month-container {
    max-height: 0;
    overflow:hidden;
    transition: max-height 1s;
    -webkit-transition: max-height 1s;
}

.archive-month {
    padding-left:10px;
}
