    <div class=idx-boxes>
        <div class=idx-tbox>
            <div class=idx-txt-box>
                <div class=idx-about>
                   ABOUT 
                </div>
                <div class=idx-about-details>
                    This is a site I've built using Django, MongoDB and JavaScript.
                    We're still under construction but check back soon!
                    <!--I'm an NYC
                    web developer, musician and occasional foodie.-->
                </div>
            </div>
        </div>
    </div>


    <div class=idx-boxes>
        <div class=idx-tbox>
            <div class=idx-txt-box>
                <div id=blog-archives>
                    <div class=archive-label>Archives</div>
                    <div>{% for year,months in archives.items %}
                        <div class=archive-year data-evt=toggle_year data-param='{"year": "{{ year }}"}'>
                            {{ year }}
                            <div id=archive-{{ year }} class=archive-month-container>
                            {% for month,m_c in months.months.items %}<div>
                                <a class=archive-month href="/blog/{{ year }}/{{ month.0 }}">
                                    &dash; {{ month.1 }} ({{ m_c }})</a></div>
                            {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
