<div class=idx-main>
    <div class=idx-boxes>
        <div class=idx-tbox>
            <div class=idx-txt-box>
                <div class=idx-welcome>
                    <span>
                        Musician, Software Engineer<br/>
                        &amp; Fellow traveler of life
                    </span>
                </div>
                <div class=idx-welcome-txt>
                    <span>
                        <!--
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        -->
                        MOTD: Still under construction<br/>
                    </span>
                </div>
                <div class=idx-signature>
                    &dash;Juan Gutierrez
                    <!--
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    -->
                </div>
            </div>
        </div>
    </div>
</div>
    
