<div class="idx-left">
    <div class="idx-boxes">
        <div class="idx-tbox">
            <div class=idx-txt-box>
                <div class=idx-welcome>
                    <span>Hello, my name is: Juan Gutierrez</span>
                    <br/>
                    <div class=idx-sub-welcome>
                        <span>
                            Musician, Software Engineer<br/>
                            &amp; Fellow traveler of life
                        </span>
                    </div>
                </div>
                <div class='idx-welcome-txt'>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        Welcome to my corner of the internet. My mission statement
                        for this site is a simple one: just keep learning. The more
                        you read about me or what I post here, the more you'll
                        come to see that my journey is a search for truth through 
                        knowledge and understanding. All truths. The single truth.
                        Yours, mine, and our truth. Hopefully we'll both learn 
                        something from this site and it won't be just another
                        exercise in internet futility. But...that one's totally on 
                        me.
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
    
