    <div class=idx-boxes>
        <div class=idx-tbox>
            <div class=idx-txt-box>
                <div class=idx-welcome>
                    <span>
                        {{ motd.date|date:"Y-m-d" }} MOTD
                    </span>
                </div>
                <div class=idx-motd>
                    <span>
                        {{ motd.message }}<br/>
                    </span>
                </div>
                <div class=idx-signature>
                    &dash;Juan Gutierrez
                </div>
            </div>
        </div>
    </div>
