{% extends "global/bubble.html" %}
{% load staticfiles %}

{% block bubble_content %}
<div class="about-bubble">
    <div>
        <i>Brooklyn resident, software engineer, artist, and occasional foodie. </i>
    </div>
    <br/>

    <div>
    &nbsp;&nbsp;&nbsp;&nbsp;
    I'm a professional software engineer interested in &dash; computer science; 
    song writing/composition; cooking; TV; gaming; comics; internet memes; TACO! (my dog)
    <br/><br/>
        <div style='text-align:center;'>
            <img src="{% static "about/img/taco.jpg" %}" height=200 />
        </div>
    <br/>
    &nbsp;&nbsp;&nbsp;&nbsp;
    Something I find 
    myself repeating at work is that I'm probably not the first person on the planet 
    to have a particular idea. A lot of how we learn in this interconnected interwebs 
    era we live in can be achieved through DIY research. That's how I do it. A friend once 
    told me he should have his Ph.D in "googling." I've always wanted to be a contributing factor 
    in this virtual realm, even when I was in high school, reading about how to do a dual boot 
    on my Windows machine with my first Linux install &dash; and proceeding to completely 
    wipe out my hard drive because I didn't really understand what <i>fdisk</i> was yet.
    <br/><br/>
    &nbsp;&nbsp;&nbsp;&nbsp;
    I love puzzles. I love problem solving. I love creative expression. It can be found in my 
    programming and in my songs. I'd like to share these loves and maybe you'll find something 
    here that will help you, make you laugh, inspire you, and if nothing else...as a cheap 
    bribe...I'll post photos of my dog here for your enjoyment.
    </div>
    
    <br/>
    <div><a href="http://twitter.com/juanny_G">My Twitter</a></div>
    <div><a href="http://http://instagram.com/juanny_G">My InstaGram</a></div>
{% endblock %}
