.idx-body {
    text-align:center;
}

.idx-boxes {
    margin:auto;
    padding:50px;
    width:68%;
}

.idx-tbox {
    padding: 10px 10px 25px 10px;
    font-family:Modern;
    border-radius: 75px;
    background-color: #B1BFF1;
    font-size:15px;
    min-height:160px;
}

.idx-welcome {
    text-align:center;
    font-size:24px;
    font-weight:bold;
}

.idx-txt-box {
    padding-left:25px;
    padding-top:10px;
    padding-right:25px;
}

.idx-motd {
    padding-top:20px;
    font-style:normal;
    font-size:18px;
    text-align:center;
}

.idx-signature {
    font-style:italic;
    font-size:18px;
    padding-top:20px;
}
